<h2 style="text-align:center;">新增商品</h2>

<%= simple_form_for [:admin,@product] do |f| %>

<div class="group">
  <%= f.input :title, label: "标题" %>
</div>

<div class="group">
  <%= f.input :description, label: "描述" %>
</div>

<div class="group">
  <%= f.input :quantity, label: "数量" %>
</div>

<div class="group">
  <%= f.input :price, label: "价格" %>
</div>

<div class="group">
  <%= f.input :image, as: :file %>
</div>

<div class="group">
  <%= f.submit "确认添加", data: {disable_with: "Submitting..."} %>
</div>

<% end %>
